*.exe
NWAT_SS16_WPF/bin/Debug/NWAT_SS16.pdb
*.cache
NWAT_SS16_WPF/obj/Debug/NWAT_SS16.csproj.FileListAbsolute.txt
*.cache
*.cache
NWAT_SS_165.v11.suo
*.exe
NWAT_SS16_WPF/bin/Debug/NWAT_SS16.pdb
*.exe
NWAT_SS16_WPF/obj/Debug/NWAT_SS16_MarkupCompile.i.cache
*.cache
*.pdb
*.resources
*.pdb
*.cache
*.baml
*.exe
*.pdb
*.exe
NWAT_SS16_WPF/obj/Debug/NWAT_SS16.g.resources
*.cache
*.suo